* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  padding: 25px;
  background: linear-gradient(
    45deg,
    #07c7ff,
    #05919f,
    #47a03f,
    #05919f,
    #07c7ff
  );
  background-position: 0% 50%;
  background-size: 400% 400%;
  animation: bodyAnimed 90s infinite ease;
  overflow: hidden;
}

@keyframes bodyAnimed {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.PrimaryContainer {
  display: flex;
  flex-direction: column;
  border: white solid 1px;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: #ffffff70;
}

header {
  padding: 10px;
}

header a {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
  border-bottom: 0px solid white;
  transition: 400ms;
}

header a:hover {
  border-width: 2px;
}

.img_a_1 {
  height: 18px;
  filter: invert();
  margin-right: 2px;
}

.img_a_2 {
  height: 18px;
  filter: invert();
  margin-right: 5px;
}

.img_a_3 {
  height: 18px;
  filter: invert();
  margin-right: 5px;
}

.boxPrimary {
  width: 100%;
  height: 100%;
  padding: 5px;
  overflow: auto;
}
.body_1 {
  background-color: #1985e9;
  width: 100%;
  height: 100%;
}
.body_2 {
  background-color: #5be919;
  width: 100%;
  height: 100vw;
  padding: 5px;
  overflow: auto;
  transform: rotate(-90deg) translateY(-100%);
  transform-origin: top right;
}
.body_3 {
  background-color: #e919df;
  width: 100%;
  height: 100%;
}

.sectionBox_1 {
  background-color: #8a0000;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}
.sectionBox_2 {
  background-color: #11cf00;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}
.sectionBox_3 {
  background-color: #c7aa03;
  width: 100%;
  height: 100%;
  transform: rotate(90deg);
}
